* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.menu-icon-wrapper {
    width: 40px;
    margin-bottom: 16px;
    padding: 8px;
    margin: 16px;
    position: relative;
    left: 0;
    cursor: pointer;
}

.menu-icon-wrapper-active::after {
    display: block;
    content: '';
    width: 4px;
    height: 4px;
    margin: auto;
    background: #222222;
    border-radius: 50%;
}  

.profile-photo {
    display: block;
    border-radius: 16px;
    margin: 0 auto 20px;
    width: 123px;
    height: 123px;
}

.name {
    font: 500 32px/1 "Golos UI", sans-serif;
    display: block;
    letter-spacing: -0.25px;
    color: #222222;
    max-width: 361px;
    margin: 0 auto 10px;
    text-align: center;
}

.description {
    max-width: 361px;
    margin: 0 auto 12px;
    text-align: center;
}

.description-information {
    font: 400 15px/1.2 "Golos UI", sans-serif;
    letter-spacing: -0.15px;
    color: #222222;  
    display: block; 
}

.post-number {
    font: 400 15px/1.2 "Golos UI", sans-serif;
    margin-left: 6px;
    letter-spacing: -0.15px;
    color: #222222;  
}

.post-number-information {
    display: inline-flex;
    background-color: #F2F3F5;
    border-radius: 6px;
    padding: 6px 10px;
    margin: 0 auto 40px; 
}

.image-post {
    border-radius: 2px;
    width: 322.35px;
    height: 322.35px;
    display: inline;
}

.content {
    margin: 97px auto 0;
    width: 100vw;
    display: inline-grid;
}

.post_place {
    margin: 73px auto 0;
    width: 100vw;
    max-width: 978px;
}

.menu {
    position: fixed;
    max-width: 74px;
    height: 100%;
    width: 80px;
    outline: auto;
    outline-color: rgba(34, 34, 34, 0.05);
}

.page {
    display: inline-flex;
    flex-direction: row;
}