* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.user-info__avatar {
    border-radius: 6px;
    max-width: 100%;
    width: 32px;
    height: 32px;
}

.user-info__name {
    font: 500 14px/1.2 "Golos UI", sans-serif;
    letter-spacing: -0.15px;
    color: #222222;
    display: block;
    align-content: center;
    margin-left: 10px;
    cursor: pointer;
}

.post__likes {
    font: 400 15px/1.2 "Golos UI", sans-serif;
    letter-spacing: -0.15px;
    margin-left: 3px;
}

.post__text {
    font: 400 15px/1.2 "Golos UI", sans-serif;
    letter-spacing: -0.15px;
    color: #222222;
    display: block;
    max-width: 480px;
    text-align: justify;
}

.post__more-btn {
    font: 400 15px/1.2 "Golos UI", sans-serif;
    display: none;
    letter-spacing: -0.15px;
    color: #808080;
    margin-bottom: 8px;
    max-width: 28px;
    cursor: pointer;

}

.post__more-btn_visible {
    display: block;
}

.post__time {
    font: 400 14px/1.2 "Golos UI", sans-serif;
    letter-spacing: -0.15px;
    color: #222222;  
    opacity: 50%;
    display: block;
    margin-bottom: 36px;
    max-width: 150px;
}

.menu__item {
    width: 40px;
    padding: 8px;
    margin: 16px;
    position: relative;
    left: 0;
    cursor: pointer;
}

.menu__item_active::after {
    display: block;
    content: '';
    width: 4px;
    height: 4px;
    margin: auto;
    background: #222222;
    border-radius: 50%;
}   

.post__photo {
    position: absolute;
    width: 474px;
    height: 474px;
    margin-bottom: 16px;
    display: none; 
}

.user-info {
    max-width: 474px;
    margin: 0 auto 16px;
    display: inline-flex;
    width: 474px;   
}

.post__reactions {
    margin-bottom: 16px;
    margin-top: 490px;
    border-radius: 8px;
    padding: 6px 12px;
    background-color: rgba(34, 34, 34, 0.05);
    display: inline-flex;
}

.post {
    margin: 0 auto 0;
    max-width: 474px;
}

.menu {
    position: fixed;
    max-width: 74px;
    height: 100%;
    width: 80px;
    outline: auto;
    outline-color: rgba(34, 34, 34, 0.05);
}

.page {
    display: inline-flex;
    max-width: 100%;
}

.post-place {
    margin: 73px auto 0;
    width: 100vw;
}

.user-info__edit-icon {
    display: block;
    margin: auto 0 auto auto;
    width: 24px;
    height: 24px;
}


.post__indicator {
    position: absolute;
    width: 44px;
    height: 24px;
    font: 400 14px/1.2 "Golos UI", sans-serif;
    color: #FFFFFF;
    background-color: rgba(34, 34, 34, 0.5);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 414px;
}

.post__slider {
    position: absolute;
    top: 221px;
    cursor: pointer;
}

.post__slider_right {
    position: absolute;
    right: 16px;
}

.post__slider_left {
    left: 16px;
    transform: scaleX(-1);
}

.post__contains {
    position: relative;
}

.post__photo_visible {
    display: block;
}

.post__photo_big {
    position: relative;
    height: 636px;
    width: 636px;
}

.page__modal-window {
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    position: fixed;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
}

.page__modal-window_active {
    background-color: rgba(34, 34, 34, 0.8);
    visibility: visible;
}

.modal_window__indicator {
    background-color: transparent;
    position: absolute;
    right: 48%;
    top: 100%;
}

.modal_window__slider {
    top: 50%;
}

.modal-window__exit-button {
    position: absolute;
    top: -5%;
    right: 0%;
    cursor: pointer;
}

.post__text_short {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;   
}