* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.page__title {
    font: 700 140px/1.28 "Golos UI", sans-serif;
    letter-spacing: -1.5px;
    color: #222222;
    position: absolute;
    top: 0vw;
}

.page__image {
    max-width: 462px;
    float: right;
    display: block;
    margin-top: 106px;
}

.page__login {
    max-width: 343px;
    display: block;
    position: relative;
}

.page__field {
    display: block;
    font: 400 15px/1.2 "Golos UI", sans-serif;
    max-width: 343px;
    color: #222222;
    margin-bottom: 5px;
    letter-spacing: -0.15px;
}

.page__email {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    border: 1px solid #F2F3F5;
    padding: 13px 12px;
    color: #222222;
    background-color: #F2F3F5;
    border-radius: 10px;
    font: 400 15px/1.2 "Golos UI", sans-serif;
    transition: border 0.3s ease;
    outline: none;
}

.page__email:focus {
    border: 1px solid #3F8AE0;
}

.page__email_error {
    border: 1px solid #E64646;
}

.page__hint {
    display: block;
    font: 400 15px/1.2 "Golos UI", sans-serif;
    letter-spacing: -0.15px;
    margin-bottom: 15px;
    color: #808080;
}

.page__hint_error {
    color: #E64646;
}

.page__control-button {
    display: block;
    width: 100%;
    margin-top: 32px;
    font: 500 16px "Golos UI", sans-serif;
    border: 1px solid #222222;
    border-radius: 10px;
    padding: 14.5px;
    color: #FFFFFF;
    background-color: #222222;
    transition: border, background-color 0.3s ease;
    cursor: pointer;
}

.control-button:focus {
    border: 1px solid #3F8AE0;
}

.control-button:disabled {
    border: 1px solid #B4B4B4;
    background-color: #B4B4B4;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.page__hero {
    position: relative;
    width: 552px;
    height: 608px;
    margin-right: 106.92px;
}   

.page__toggle-icon {
    position: absolute;
    top: 54%;
    right: 6%;    
}