* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.avatar {
    border-radius: 6px;
    max-width: 100%;
}

.avatar_name {
    font: 500 14px/1.2 "Golos UI", sans-serif;
    letter-spacing: -0.15px;
    color: #222222;
}

.likes {
    font: 400 15px/1.2 "Golos UI", sans-serif;
    letter-spacing: -0.15px;
    vertical-align: middle;
}

.main_text {
    font: 400 15px/1.2 "Golos UI", sans-serif;
    letter-spacing: -0.15px;
    color: #222222;
    display: block;
}

.more_option {
    font: 400 15px/1.2 "Golos UI", sans-serif;
    display: block;
    letter-spacing: -0.15px;
    color: #808080;
    margin-bottom: 8px;
}

.time {
    font: 400 14px/1.2 "Golos UI", sans-serif;
    letter-spacing: -0.15px;
    color: #222222;  
    opacity: 50%;
    display: block;
    margin-bottom: 20px;
}

.control_menu {
    border: 0;
    background-color: #FFFFFF;
    display: block;
}

.menu_icon_wrapper {
    width: 40px;
    margin-bottom: 16px;
    padding: 8px;
    position: relative;
}

.menu_icon_wrapper_active::after {
    display: block;
    content: '';
    width: 4px;
    height: 4px;
    background: #222222;
    border-radius: 50%;
}   

.post_photo {
    display: block;
    max-width: 100%;
    margin-bottom: 16px;
}

.name {
    margin-bottom: 16px;
}

.reaction {
    margin-bottom: 16px;
    border-radius: 8px;
    padding: 6px 12px;
    background-color: rgba(34, 34, 34, 0.05);
    display: block;
    width: 69px;
}