.avatar{
    border-radius: 6px;
}

.avatar_name{
    font-family: "Golos Text", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.15px;
    vertical-align: middle;
    color: #222222;
}

.reaction{
    font-family: "Golos Text", sans-serif;
    font-weight: 400;
    size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
    vertical-align: middle;
}

.main_text{
    font-family: "Golos Text", sans-serif;
    font-weight: 400;
    size: 15px;
    line-height: 18px;
    letter-spacing: -0.15;
    color: #222222;
}

.more_option{
    font-family: "Golos Text", sans-serif;
    font-weight: 400;
    size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: #808080;
}

.time{
    font-family: "Golos Text", sans-serif;
    font-weight: 400;
    size: 14px;
    line-height: 18px;
    letter-spacing: -0.15px;
    vertical-align: middle;
    color: #222222;  
    opacity: 50%;
}

.control_menu{
    border: 0;
    background-color: #FFFFFF;
}
