* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.menu_icon_wrapper {
    width: 40px;
    margin-bottom: 16px;
    padding: 8px;
    position: relative;
}

.menu_icon_wrapper_active::after {
    display: block;
    content: '';
    width: 4px;
    height: 4px;
    background: #222222;
    border-radius: 50%;
}  

.profile_photo {
    border-radius: 16px;
    margin-bottom: 20px;
}

.name {
    font: 500 32px/1 "Golos UI", sans-serif;
    display: block;
    letter-spacing: -0.25px;
    color: #222222;
    margin-bottom: 10px;
}

.description {
    margin-bottom: 12px;
}

.description_information {
    font: 400 15px/1.2 "Golos UI", sans-serif;
    letter-spacing: -0.15px;
    color: #222222;  
    display: block; 
}

.post_number {
    font: 400 15px/1.2 "Golos UI", sans-serif;
    letter-spacing: -0.15px;
    vertical-align: middle;
    color: #222222;   
}

.post_number_information {
    display: inline-block;
    background-color: #F2F3F5;
    vertical-align: middle;
    border-radius: 6px;
    padding: 6px 10px;
    margin-bottom: 40px;
}

.image_post {
    border-radius: 2px;
}